* {
  margin: auto 0;
  /* padding: 0; */
  /* box-sizing: border-box; */
}

body {
  background-color: rgb(24, 24, 24);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

/* html {
    text-align: center;
    color: white;
    font-size: 30px;
    text-transform: uppercase;
    font-family: arial;
    background-color: black;
} */

h1 {
  /* font-family: 'Rye',
        cursive; */
  font-family: "Monoton", cursive;
  /* font-family: 'Rock Salt',
        cursive; */
  /* font-family: 'Arizonia',
        cursive; */
  word-spacing: 20px;
  text-transform: uppercase;
  text-align: center;
  font-size: 60px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.zone {
  background-color: rgba(0, 0, 0, 0);
  font-size: 0.5em;
  text-transform: uppercase;
  text-decoration: none;
  /* border-radius: 4px;
    border: 1px solid #bbb; */
  transition: all 0.3s linear;
  font-family: "open sans", "sans serif";
  margin-top: 10px;
}

.zone li {
  list-style: none;
}

@media only screen and (max-width: 600px) {
  .main-nav {
    font-size: 1.5em;
    padding: 0;
  }
}

.main-nav {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  font-size: 0.7em;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  /* height: 500px; */
  min-height: 80vh;
}

.one {
  padding: 10px;
  font-size: 3em;
  text-align: center;
  text-decoration: none;
  color: white;
  border-right: solid rgb(95, 10, 10) 2px;
  padding-right: 80px;
}

ul li a:hover {
  color: rgb(95, 10, 10);
}

footer {
  text-align: center;
  cursor: pointer;
}



.last:last-child {
  border-right: none;
}

.red {
  color: rgb(95, 10, 10);
}

.contact p {
  font-size: 40px;
}

.contact h2 {
  color: #d8d8d8;
  font-size: 28px;
  font-family: nimbus-sans-tw01con, sans-serif;
}

li {
  display: block;
  transition-duration: 0.5s;
}

ul li ul {
  background-color: rgb(8, 8, 8);
  visibility: hidden;
  color: white;
  opacity: 1;
  min-width: 5rem;
  position: absolute;
  transition: all 0.5s ease;
  margin-top: 1rem;
  /* padding: 50px; */
  padding-left: 10px;
  left: 0;
  display: none;
}

ul li:hover>ul,
ul li:focus-within>ul,
ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}

ul li ul li {
  clear: both;
  width: 100%;
}

a {
  text-decoration: none;
}

li {
  color: #fff;
  display: block;
  position: relative;
  text-decoration: none;
  transition-duration: 0.5s;
}

.dropdown li {
  font-size: 1rem;
  border-bottom: solid rgb(95, 10, 10) 2px;
  padding-bottom: 10px;
  text-align: center;
  padding-top: 5px;
}

.dropdown a {
  color: white;
  padding: 15px;

}

hr {
  margin-top: 40px;
}

.wrapper {
  margin-top: 80px;
  margin-bottom: 30px;
  text-align: center;
  font-size: 1.3rem;
}

.composer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.composer iframe {
  width: 350px;
  height: 500px;
  margin: 10px;
  transition: all 1s;
}

.composer iframe:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.click {
  outline: none;
  background-color: rgba(61, 155, 233, 1);
  border: 1px solid rgba(61, 155, 233, 1);
  color: white;
  text-transform: uppercase;
  border-radius: 35px;
  padding: 5px 40px;
  font-size: 15px;
  transition: all 1s;

}

.click a {
  text-decoration: none;
  color: white;
}

.click:hover {
  cursor: pointer;
  background-color: rgb(224, 97, 24);
  border: 1px solid rgb(224, 97, 24);
  transform: scale(1.1);
}

button {
  display: block;
  margin: 18px auto;

}

.video {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}